<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Questrial|Arvo" %>
	<title> <%= page_title %> </title>
  </head>
  <body>
    <%= yield %>

    <footer id="footer">
      <div class="container">
        <p class="copyright">
          &copy; 2012 Matthieu Keller 
        </p>
		<p class="link"><%= link_to 'Fork this site on GitHub', 'http://github.com/maggick/my_website' %></p>
      </div>
    </footer>
    
    <%= partial 'layouts/tracking' %>
  </body>
</html>
