---
layout: layout
---

<header id="hero">
  <h1><%= link_to image_tag("mk.svg", :width => 225, :height => 225, :alt => "Keller's logo"), "/", { :class => 'logo' } %></h1>
  <h2>Matthieu Keller personal website</h2>
</header>

<section role="main">
  <div id="install">
    <p><b class="console"># aptitude search 'six months internship'</b></p>
  </div>

  <div class="container">
	  <p class="intro"> Welcome, I am Matthieu Keller and this is my personal website. 
	  Learn more <%= link_to 'about me' , 'about/me' %>. </p>

    <p class="intro sns">
      <span><i class="icon-github"> <%= link_to 'Watch me on GitHub', 'http://github.com/maggick' %></i></span>
      <span><i class="icon-twitter"> <%= link_to 'Follow me @matthieuKeller', 'http://twitter.com/matthieukeller' %></i></span>
      <span><i class="icon-linkedin"> <%= link_to 'My LinkedIn profil', 'http://fr.linkedin.com/in/matthieukeller' %></i></span>
      <span><i class="icon-viadeo"> <%= link_to 'Mon profil viadeo (French)', 'http://www.viadeo.com/fr/profile/matthieu.keller3' %></i></span>

    </p>

    <nav class="grid">
      <%= partial 'layouts/nav' %>
    </nav>
  </div>  
</section>
